# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
coverage/
/.tsout/
/.tscache/

# next.js
.next/
out/
dist/
.open-next/

# build artifacts
.open-next/
.wrangler/
.dev.vars
build/
.vercel/

# Tools
.DS_Store
*.tsbuildinfo
.eslintcache
.vscode/
.idea/
*.pem

# env files
.env*
!.env.example
